

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

*{
    font-family: 'Julius Sans One', sans-serif;

}
html{
    margin-right: 10px;
    margin-left: 10px;

}

h1{
    font-size: 4em;
}
h3{
    font-size: 2em;
    display: inline-block;
    margin: 1.66%;
}
img{
    max-width: 100%;
}
.grid {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 30%;
    height: 100%;
}

.col-4 {
    width: 30%;
    display:block;
    margin:1.66%;
}

.col-4 a{
    margin: 1.66%;
    max-width: 100%;
    color: inherit;
    text-decoration: none;
    text-align: center;
    display:block;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 70%;
}

.col-10 {
    width: 83.33%;

}
div.col-9 {
    text-align: right;

}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
.col-12 img{
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}

footer{
    background-color: #42c2f4;
    padding-top: 10px;
    padding-bottom: 10px;
    position: all;
    text-align: center;
    text-decoration: none;
}
footer.p{
    text-align: center;
}
@media  (max-width: 450px){
    img.col-3 {
        width:100%;
    }
    div.col-10 {
    text-align: right;
}

     .col-4 {
        width: 100%;
        display:flex;
        flex-wrap: wrap;

}
@media  (min-width: 361px){

    }